.userCollection{
    cursor: cell;
    display: flex;
    flex-direction: row;
}

#edit{
    cursor: pointer;
    text-align: right;
}
.item{
    margin-right: 40px; 
    text-align: right;
}
.edit-delete{
   align-items: right;
   cursor:pointer;
}
